<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\relatorios.css">
    <title>Cadastro</title>
</head>
<body>
    <label for="name">Seu Nome Completo</label>
    <input type="text" id="nome_cadastro" required>

    <label for="email">Seu Email</label>
    <input type="email" id="email_cadastro" required>

    <label for="numero">Celular</label>
    <input type="number" id="celular" required>

    <label for="idade">Idade</label>
    <input type="date" id="idade" required>

    <label for="senha">Crie uma Senha</label>
    <input type="password" id="senha_cadastro" required>

    <label for="senha">Confirme sua Senha</label>
    <input type="password" id="senha_cadastro" required>

    <label for="termos"><a href="">Aceitar os Termos de Uso</a></label>
    <input type="checkbox" name="caixinha" id="caixinha" required>


</body>
</html>