<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Converter para Excel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="video-background">
        <video autoplay muted loop playsinline>
            <source src="{{ url_for('static', filename='_IT\'S ME_ The 10 Year FNAF Animation Remake.mp4') }}" type="video/mp4">
            Seu navegador não suporta a tag de vídeo.
        </video>
    </div>

    <div class="box">
        <form method="POST" action="{{ url_for('fomula') }}" enctype="multipart/form-data">
            <h2 class="title">Olá, {{ current_user.id.split('@')[0] }}!</h2>
            <p>Converta seu arquivo TXT para Excel.</p>

            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <p style="color: rgba(250, 94, 94, 0.8); font-weight: bold;">{{ messages[0] }}</p>
              {% endif %}
            {% endwith %}

            <label for="file">Selecione o arquivo .txt</label>
            <input type="file" name="file" id="file" accept=".txt" required><br>
            <button type="submit" class="btn">Converter e Baixar</button>
        </form>
        <hr>
        <a href="{{ url_for('logout') }}"><button class="btn-secondary">Sair (Logout)</button></a>
    </div>
</body>
</html>