<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="static\css\relatorios.css">
</head>
<body>

    <form method="GET" action="url_for{formulario}">
      <h1 class="login">Faça seu Login</h1>

      <label for="name">Nome</label><br>
      <input type="text" id="name" placeholder="Seu Nome" required><br><br>


      <label for="word">Email</label>
      <input type="email" id="email" placeholder="Seu Email" required>

      <label for="senha">Senha</label>
      <input type="senha" id="senha" placeholder="Sua Senha" required>

      <label for="lembra">Lembrar Senha</label>
      <input type="checkbox" id="lembra">

      <label for="termos">Aceitar Termos de uso</label>
      <input type="checkbox" id="termos" required>
    </form>

  <footer>
    <li>Intagram</li>
    <li>Linkdin</li>
    <li>Postifolio</li>
  </footer>
  
  
  
</body>
</html>