<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Pagina principal</title>
</head>
<body>
    <div class="video-background">
        <video autoplay muted loop playsinline>
            <source src="{{ url_for('static', filename='_IT\'S ME_ The 10 Year FNAF Animation Remake.mp4') }}" type="video/mp4">
            Seu navegador não suporta a tag de vídeo.
        </video>
    </div>

    <div class="conteudo-principal">
        <h1>Seja Bem Vindo!</h1>
        <p>Faça seu Login ou Cadastre-se para converter seus arquivos.</p>
    </div>

    <div class="box">
        <form action="{{ url_for('index') }}" method="POST">
            <h2 class="title">LOGIN</h2><br>
        
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <p>{{ message }}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}

            <label for="email_input">Email</label>
            <input type="email" name="email" id="email_input" placeholder="Digite seu e-mail" required><br> 
            <label for="senha_input">Senha</label>
            <input type="password" name="password" id="senha_input" placeholder="Digite sua senha" required><br>
            
            <button type="submit" class="btn">Entrar</button>
        </form>
        <hr>
        <p>Ainda não tem uma conta?</p>
        <a href="{{url_for('cada')}}"><button class="btn-secondary">Cadastre-se</button></a>
    </div>
</body>
</html>